1,2. Tạo bảng nhanvien và chèn các bản ghi

In [13]:
import sqlite3

# Kết nối đến SQLite (tạo file database nếu chưa tồn tại)
conn = sqlite3.connect("nhanvien.db")
cursor = conn.cursor()

# Tạo bảng NhanVien
cursor.execute("""
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen VARCHAR(50),
        Tuoi INT,
        PhongBan VARCHAR(50)
    )
""")

# Dữ liệu cần chèn
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]

# Chèn dữ liệu vào bảng
cursor.executemany("INSERT INTO NhanVien VALUES (?, ?, ?, ?)", data)

# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()


print("Dữ liệu đã được chèn thành công!")

IntegrityError: UNIQUE constraint failed: NhanVien.MaNV

3. Lấy toàn bộ thông tin của nhân viên trong bảng nhanvien

In [16]:
print("\n Danh sách nhân viên:")
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
for row in rows:
    print(row)

 Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

4. Truy vấn HoTen và Tuoi của các nhân viên trong phòng IT

In [17]:
print("\n Nhân viên phòng IT:")
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()
for row in rows:
    print(row)

 Nhân viên phòng IT:
('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

5. Tìm nhân viên có độ tuổi >25

In [18]:
print("\n Nhân viên trên 25 tuổi:")
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows = cursor.fetchall()
for row in rows:
    print(row)

 Nhân viên trên 25 tuổi:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

6. Nhân viên lớn tuổi nhất của các phòng ban

In [19]:
print("\n Nhân viên lớn tuổi nhất mỗi phòng:")
cursor.execute("""
    SELECT PhongBan, HoTen, Tuoi 
    FROM NhanVien 
    WHERE Tuoi = (SELECT MAX(Tuoi) FROM NhanVien AS NV2 WHERE NV2.PhongBan = NhanVien.PhongBan)
""")
rows = cursor.fetchall()
for row in rows:
    print(row)

 Nhân viên lớn tuổi nhất mỗi phòng:
('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

7. Chuyển đổi thông tin PhongBan của nv "Lê Văn C" sang "Marketing"

In [20]:
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit()  # Lưu thay đổi
print("\n Đã chuyển Le Van C sang Marketing.")

 Đã chuyển Le Van C sang Marketing.

- Lỗi "OperationalError: database is locked" xuất hiện trong SQLite khi tệp cơ sở dữ liệu bị khóa bởi một tiến trình hoặc giao dịch khác
- Cách khắc phục: 
    + có thể khởi động lại ứng dụng 
    + Đóng các kết nối khác: Đảm bảo rằng không có chương trình hoặc script nào khác đang truy cập vào cơ sở dữ liệu cùng lúc.

8. Xóa nhân viên có MaSV = 2, rồi cho biết số người của mỗi phòng ban

In [21]:
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit()
print("\n Đã xóa nhân viên có MaNV = 2.")

print("\n Số lượng nhân viên mỗi phòng:")
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
for row in rows:
    print(row)

 Đã xóa nhân viên có MaNV = 2.

 Số lượng nhân viên mỗi phòng:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)

9. Trình bày các bước kết nối đến SQLite trong python và thực thi các câu lệnh trên bằng python
- Các bước kết nối đến SQLite trong python
1. import sqlite3
2. Kết nối tới các cơ sở dữ liệu
3. Tạo Cursor để thao tác với cơ sở dữ liệu
4. Tạo bảng
5. Insert data vào bảng
6. Truy vấn dữ liệu từng bảng
7. Update data
8. Xóa dữ liệu
9. Đếm số lượng nhân viên trong từng phòng ban
10. Đóng kết nối cơ sở dữ liệu

In [23]:
#Đóng kết nối 
conn.close()
print("\n Đã đóng kết nối với database.")

 Đã đóng kết nối với database.