In [1]:
import sqlite3

# Kết nối database
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Tạo bảng NhanVien nếu chưa tồn tại
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Nhanvien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT NOT NULL,
        Tuoi INTEGER,
        PhongBan TEXT
    )
""")

# Lưu thay đổi
conn.commit()
print("Bảng 'Nhanvien' đã được tạo thành công!")
# Chèn dữ liệu vào bảng Nhanvien
NhanVien = [
    (1, "Nguyen Van A", 30, "Ke toan"),
    (2, "Tran Thi B", 25, "Nhan Su"),
    (3, "La Van C", 25, "Lap trinh vien"),
    (4, "Pham Thi D", 35, "Marketing"),
    (5, "Vu Van E", 26, "IT"),
    (6, "Nguyen Thi F", 29, "Marketing"),
    (7, "Le Thi G", 27, "Nhan Su"),
    (8, "Hoang Van H", 35, "Ke Toan"),
    (9, "Pham Van I", 33, "Marketing"),
    (10, "Tran Van J", 24, "IT"),
    (11, "Dang Thi K", 31, "Nhan Su"),
    (12, "Nguyen Van L", 28, "Ke toan"),
    (13, "Tran Thi M", 26, "Marketing"),
    (14, "Pham Van N", 30, "Nhan Su"),
    (15, "Hoang Thi O", 27, "IT")
]

# Thêm dữ liệu vào bảng, bỏ qua nếu trùng khóa chính
cursor.executemany("INSERT OR IGNORE INTO Nhanvien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)", NhanVien)

# Lưu thay đổi
conn.commit()

Bảng 'Nhanvien' đã được tạo thành công!

In [2]:
# Truy vấn tất cả nhân viên
cursor.execute("SELECT * FROM Nhanvien")
rows = cursor.fetchall()

# In kết quả
print("Danh sách nhân viên:")
for row in rows:
    print(row)

# Đóng kết nối
conn.close()

Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'La Van C', 25, 'Lap trinh vien')
(4, 'Pham Thi D', 35, 'Marketing')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Danh sách nhân viên có tên chứa từ "Nguyễn"

In [3]:
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Truy vấn danh sách nhân viên có tên chứa từ "Nguyễn"
cursor.execute("SELECT HoTen FROM NhanVien WHERE HoTen LIKE '%Nguyen%'")

# Lấy và in kết quả
result = cursor.fetchall()
for row in result:
    print(row[0])

# Đóng kết nối
conn.close()

OperationalError: no such table: NhanVien

 4. Truy vấn HoTen và Tuoi của các nhân viên trong phòng IT

In [27]:
# Kết nối lại đến cơ sở dữ liệu
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Truy vấn họ tên và tuổi của các nhân viên trong phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")

# Lấy và in kết quả
result = cursor.fetchall()
for row in result:
    print(row[0],row[1])

# Đóng kết nối
conn.close()

Vu Van E 26
Tran Van J 24
Hoang Thi O 27

 5. Tìm nhân viên có độ tuổi lớn hơn 25.

In [28]:
# Kết nối lại đến cơ sở dữ liệu
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Truy vấn những nhân viên có độ tuổi lớn hơn 25
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE Tuoi > 25")

# Lấy và in kết quả
result = cursor.fetchall()
for row in result:
    print(row[0],row[1])

# Đóng kết nối
conn.close()

Nguyen Van A 30
Pham Thi D 35
Vu Van E 26
Nguyen Thi F 29
Le Thi G 27
Hoang Van H 35
Pham Van I 33
Dang Thi K 31
Nguyen Van L 28
Tran Thi M 26
Pham Van N 30
Hoang Thi O 27

 6. Cho biết nhân viên lớn tuổi nhất của các PhongBan

In [ ]:



conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Truy vấn nhân viên lớn tuổi nhất trong mỗi phòng ban
cursor.execute('''
    SELECT PhongBan, HoTen, MAX(Tuoi)
    FROM NhanVien
    GROUP BY PhongBan
''')

rows = cursor.fetchall()

# In kết quả
print("Nhân viên lớn tuổi nhất trong mỗi phòng ban:")
for row in rows:
    print(f"Phòng ban: {row[0]}, Nhân viên: {row[1]}, Tuổi: {row[2]}")

conn.close()  # Đóng kết nối

Nhân viên lớn tuổi nhất của từng phòng ban:
Phòng: Ke toan, Nhân viên: Nguyen Van A, Tuổi: 30
Phòng: Nhan Su, Nhân viên: Tran Thi B, Tuổi: 25
Phòng: Lap trinh vien, Nhân viên: La Van C, Tuổi: 25
Phòng: Marketing, Nhân viên: Pham Thi D, Tuổi: 35
Phòng: Nhan Su, Nhân viên: Le Thi G, Tuổi: 27
Phòng: Ke Toan, Nhân viên: Hoang Van H, Tuổi: 35
Phòng: Nhan Su, Nhân viên: Dang Thi K, Tuổi: 31
Phòng: Nhan Su, Nhân viên: Pham Van N, Tuổi: 30
Phòng: IT, Nhân viên: Hoang Thi O, Tuổi: 27

7. Chuyển đổi thông tin PhongBan của nhân viên “Le Van C” sang “Marketing”

In [31]:

# Kết nối đến database
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Cập nhật phòng ban của nhân viên "Le Van C" thành "Marketing"
cursor.execute("""
    UPDATE Nhanvien
    SET PhongBan = 'Marketing'
    WHERE HoTen = 'La Van C'
""")

# Lưu thay đổi
conn.commit()

# Kiểm tra kết quả
cursor.execute("SELECT * FROM Nhanvien WHERE HoTen = 'La Van C'")
print(cursor.fetchall())

# Đóng kết nối
conn.close()

[(3, 'La Van C', 25, 'Marketing')]

Nếu có vấn đề xảy ra khi chuyển đổi thông tin cần: 1.Cần kiểm tra tính duy nhất của dữ liệu sử dụng MaNV thay vì dùng HoTen 2.kiểm tra dữ liệu trước khi cập nhật

8. Xóa nhân viên có “MaSV = 2” rồi cho biết mỗi phòng ban có bao nhiêu người

In [32]:

# Kết nối đến database
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Xóa nhân viên có MaNV = 2
cursor.execute("DELETE FROM Nhanvien WHERE MaNV = 2")

# Lưu thay đổi
conn.commit()

# Đếm số nhân viên trong mỗi phòng ban
cursor.execute("""
    SELECT PhongBan, COUNT(*) as SoLuong
    FROM Nhanvien
    GROUP BY PhongBan
""")

# Lấy kết quả
result = cursor.fetchall()

# In kết quả
print("Số nhân viên trong từng phòng ban sau khi xóa:")
for row in result:
    print(f"Phòng: {row[0]}, Số lượng: {row[1]}")

# Đóng kết nối
conn.close()

Số nhân viên trong từng phòng ban sau khi xóa:
Phòng: IT, Số lượng: 3
Phòng: Ke Toan, Số lượng: 1
Phòng: Ke toan, Số lượng: 2
Phòng: Marketing, Số lượng: 5
Phòng: Nhan Su, Số lượng: 3